publish_all.sh
*API_KEY.txt
ggml*bin
.cache
medical_indexes.txt
logs.txt*
author_dir
pages
.env*
**/__pycache__
*.egg-info
build
.aider*
obsolete
dist

# author files
scripts/NewpipeSummaries
scripts/NtfySummarizer/TOPICS
scripts/NtfySummarizer/summaries
scripts/notfinished_*
scripts/**/*perso*
latest_release_notes_*.md
wdoc_user_cache_dir/
