repos:
-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        # entry: pytest tests
        entry: pytest tests --quiet
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-merge-commit]
# -   repo: https://github.com/psf/black
#     rev: 22.10.0
#     hooks:
#     -   id: black
#         args: ["--quiet"]
#         language: system
# -   repo: https://github.com/pycqa/isort
#     rev: 5.12.0
#     hooks:
#       - id: isort
#         args: ["--profile", "black", "--quiet"]
#         language: system

# https://github.com/astral-sh/ruff-pre-commit
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.1
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
