sqlalchemy>=2.0.29
tldextract>=3.4.1
ankipandas>=0.3.13
beautifulsoup4>=4.10.0
fire>=0.5.0
ftfy>=6.1.1
joblib>=1.2.0
langchain>=0.1.17
langchain-community>=0.0.36
langchain-openai>=0.1.4
langchain-mistralai>=0.1.6
litellm>=1.35.36
nltk>=3.8.1
openai>=1.25.1
prompt-toolkit>=3.0.28
requests>=2.25.1
tiktoken>=0.6.0
tqdm>=4.66.4
unstructured>=0.6.2
faiss-cpu>=1.8.0
llama-cpp-python>=0.2.69  # >0.2.69 had a regression regarding embeddings
rich>=13.7.1
lazy_import >= 1.16.0
typeguard >= 4.2.1
platformdirs >= 4.2.2

# buggy in windows so optional:
# https://github.com/zafercavdar/fasttext-langdetect/issues/14
# fasttext-langdetect>=1.0.5
# pdftotext>=2.2.2  # sudo apt install build-essential libpoppler-cpp-dev pkg-config python3-dev

LogseqMarkdownParser >= 2.4  # I'm also the dev behind that one

pyfiglet >= 1.0.2   # banner
