services:
  wdoc-gui:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7618:7860"
    volumes:
      # Mount vectorstore directory to persist and share vectorstore data
      - ../author_dir/medical_index_openai/:/app/vectorstore
      # Optionally mount cache directory to persist LLM caches
      - ${CACHE_PATH:-./wdoc_cache}:/app/wdoc_cache
    # Load environment variables from the env file
    env_file:
      - env
    restart: unless-stopped
    user: 1000:1000
    security_opt:
      - no-new-privileges:true
    extra_hosts:
      # if using langguse for example
     - "host.docker.internal:host-gateway"
